
<div class="content">
<Table>
  <Tr>
    <Th>
      Team
    </Th>
    <Th>
      Abbreviation
    </Th>
  </Tr>
  <% @teams.collect do |team| %>
  <tr>
    <td>
        <%= link_to team["team"]["Name"], (request.base_url + '/' + team["team"]["Abbreviation"])%>
    </td>
    <td>
      <%= link_to team["team"]["Abbreviation"],(request.base_url + '/' + team["team"]["Abbreviation"]) %>
    </td>
  </tr>
  <%end%>
</Table>
</div>
