  <h1>Teams</h1>
<div class="content">
<div class="teams">
<Table>
  <ul>
  <% @teams.collect do |team| %>
    <li class="stuff">
        <%= link_to team["team"]["Name"], (request.base_url + '/' + team["team"]["Abbreviation"])%>
    </li>
  <%end%>
</ul>
</Table>
</div>
</div>
