
<div class="content">
<div class="teams">
<table class="table">
  <caption>Teams</caption>

  <% @teams.in_groups_of(2) do |team_array| %>
  <tr>

      <% team_array.each do |team| %>
        <td><%= link_to team["team"]["Name"], (request.base_url + '/' + team["team"]["Abbreviation"])%></td>
        <% end%>
  </tr>
  <%end%>
  
</table>
</div>
</div>
