  <h1><%= params[:id]  %></h1>

  <Table>
    <Tr>
    <Th>
    Player
    </Th>
    <Th>
    Number
    </Th>
    </Tr>
    <% @players.collect do |player| %>
    <% if player["team"]["Abbreviation"].eql? params[:id] %>
      <Tr>
        <td>
          <%=["player"]["FirstName"]%>
          <%=["player"]["LastName"]%>
        </td>
        <td>
          <%= ["player"]["JerseyNumber"]%>
        </td>
      </Tr>
    <% end %>
    <% end %>
 </Table>
