<h1>Golden State Warriors 2016-17 Roster</h1>
  <dl>
    <% @players.collect do |player| %>
    <% if player["team"]["Abbreviation"].eql? "GSW" %>
    <li><%= player["player"]["FirstName"]%> <%=player["player"]["LastName"]%>
      # <%=player["player"]["JerseyNumber"]%></li>
    <% end %>
    <% end %>
 </dl>
