<link rel="stylesheet" type="text/css" href="style.css">
  <h1><%= link_to params[:id], request.base_url  %></h1>
<div class="content">
  <table>
    <tr>
    <th>
    Player
    </Th>
    <Th>
    Number
    </Th>
    </Tr>
    <% @players.collect do |player| %>
    <% if player["team"]["Abbreviation"].eql? params[:id] %>
      <Tr>
        <td>
          <%= player["player"]["FirstName"]%>
          <%=player["player"]["LastName"]%>
        </td>
        <td>

          <%= player["player"]["JerseyNumber"]%>

        </td>
      </Tr>
    <% end %>
    <% end %>
 </Table>
 </div>
